<div class="container">

                <div class="col-md-12">

                    <div class="row" id="error-page">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="box">

                                <p class="text-center">
                                    <img src="/img/banner.png" class="img-responsive" alt="Cameron Pens Logo">
                                </p>

                                <h3>You transaction has been cancelled</h3>
                

                                <p class="buttons"><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>