.navbar ul.nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
  }
  .navbar ul.nav > li > a:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4fbfa8;
  }
  .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #4fbfa8;
}

#top {
    background: #000000;
    padding: 10px 0;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff7f00;
    border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fe7f00;
    background-color: transparent;
}

.navbar ul.nav > li > a:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #4fbfa8;
    color: #fe7f00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000000;
}

#hot h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: #000000;
    font-weight: 100;
    text-align: center;
}

.navbar .yamm-content ul li a:hover {
    color: #fe7f00;
    text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #fe7f00;
    border-color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}


a:hover, a:focus {
    color: #fe7f00;
    text-decoration: underline;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #000000;
}

.panel-primary > .panel-heading {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
}

.panel-primary {
    border-color: #000000;
}

.panel-primary .panel-title a:hover {
    color: #fe7f00;
    text-decoration: none;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fe7f00;
}

a.standardlink {
    color:#0000EE;
    
}

#main-slider {
   
    border: solid 1px #fff;
    
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.ribbon .theribbon {
    width: 120px;
}

#content #productMain .price {
    margin-top: -10px;
}

p.saleprice {
    color:#0bb700;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin-left: -5px;
}

.navbar-brand>img {
 margin-top: -5px;
 margin-left: 5px;
}

.box {
    border: solid 1px #ffffff;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#details {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#verifyshipping {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#invoice {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#item_view_browse {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#totals {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#categories {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#materials {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.box#item_browse_heading {
    border: solid 1px #00000041;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

.carousel-inner>.item>a>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin-left: 0px;
    margin-bottom: 0px;
}


.box.slideshow .owl-controls .owl-page.active span, #main-slider .owl-controls .owl-page.active span, .box.slideshow .owl-controls.clickable .owl-page:hover span, #main-slider .owl-controls.clickable .owl-page:hover span {
    background: #ffffff;
}

.owl-theme .owl-controls .owl-page span {
   
    background: #ffffff;
}

#content .product {
    
    margin-bottom: 30px;
}

#content .view .product {
    margin-bottom: 0px;
}

.home-advantages{
    margin-top: 60px;
}

#content #thumbs a.active {
    border-color: #fe7f00;
}

#paypalcards{
    margin-top: 40px;
}

#paypallogo{
    margin-top: 75px;
}

.navbar #search {
    border-top: solid 1px #000000;
}

.pagination > li > a, .pagination > li > span {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #fe7f00;
    border-color: #000000;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #000000;
    background-color: #fe7f00;
    border-color: #fe7f00;
}

/*
    START Item View page picture modal stuff
*/

#LargePicture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#LargePicture:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*
    END Item View page picture modal stuff
*/

.btn-danger {
    color: #fff;
    background-color: #e43e3e;
    border-color: #000000;
}

.admin-action-links {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.admin-item-active {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  
  .admin-item-inactive {
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
  }



