.carousel-inner>.item>a>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin-left: 0px;
    margin-bottom: -0px;
}

#content .product .text h3 {
    
    margin-bottom: 0;
}

.itemPictureSeperator {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }