<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Orderitem $orderitem
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $orderitem->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $orderitem->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Orderitems'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Orders'), ['controller' => 'Orders', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Order'), ['controller' => 'Orders', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="orderitems form large-9 medium-8 columns content">
    <?= $this->Form->create($orderitem) ?>
    <fieldset>
        <legend><?= __('Edit Orderitem') ?></legend>
        <?php
            echo $this->Form->control('itemid');
            echo $this->Form->control('title');
            echo $this->Form->control('price');
            echo $this->Form->control('currency');
            echo $this->Form->control('quantity');
            echo $this->Form->control('orders._ids', ['options' => $orders]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
