<?php if(false):?>
<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2015 cameronpens. Website designed by Brennan Palmer.</p>

        </div>
        <div class="col-md-6">
            <p class="pull-right">Template by
                <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> &
                <a href="https://fity.cz">Fity</a>
                <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
            </p>
        </div>
    </div>
</div>
                <?php endif;?>
