<div class="generated-terms">
<h3 class="h2">Personal identification information</h3>
<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, place an orderfill out a form and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name,  email address,  mailing address,  phone number,   </p>
<p>Users may, however, visit our Site anonymously.</p>
<p>We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
<h3 class="h2">Non-personal identification information</h3>
<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
<h3 class="h2">Web browser cookies</h3>
<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
<h3 class="h2">How we use collected information</h3>
<p>cameronpens&nbsp;collects and uses Users personal information for the following purposes:</p>
<ul><li><i>To improve customer service</i><br>Your information helps us to more effectively respond to your customer service requests and support needs.</li>  <li><i>To improve our Site</i><br>We continually strive to improve our website offerings based on the information and feedback we receive from you.</li> <li><i>To process transactions</i><br>We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.</li> <li><i>To administer a content, promotion, survey or other Site feature</i><br>To send Users information they agreed to receive about topics we think will be of interest to them.</li> 
<li><em>To send periodic emails</em><br><br>The email address Users provide for order processing, will only be used to send them information and updates pertaining to their order. It may also be used to respond to their inquiries, and/or other requests or questions. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.</li>
</ul>
<h3 class="h2">How we protect your information</h3>
<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
<p>&nbsp;</p>
<p></p>
<p></p><h6>Third party websites</h6><p>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website\'s own terms and policies.</p><p></p>
<h3 class="h2">Changes to this privacy policy</h3>
<p>cameronpens&nbsp;has the discretion to update this privacy policy at any time. When we do, revise the updated date at the bottom of this page,. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
<h3 class="h2">Your acceptance of these terms</h3>
<p>By using this Site, you signify your acceptance of this policy and <a href="http://">terms of service</a>. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
<h3 class="h2">Contacting us</h3>
<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please vist our <a class="standardlink" href="/communications/add">contact page</a>.</p>
</div>