<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\ItemsCategory $itemsCategory
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $itemsCategory->item_id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $itemsCategory->item_id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Items Categories'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Items'), ['controller' => 'Items', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Item'), ['controller' => 'Items', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Categories'), ['controller' => 'Categories', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Category'), ['controller' => 'Categories', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="itemsCategories form large-9 medium-8 columns content">
    <?= $this->Form->create($itemsCategory) ?>
    <fieldset>
        <legend><?= __('Edit Items Category') ?></legend>
        <?php
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
