<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\OrdersOrderitem $ordersOrderitem
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $ordersOrderitem->order_id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $ordersOrderitem->order_id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Orders Orderitems'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Orders'), ['controller' => 'Orders', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Order'), ['controller' => 'Orders', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Orderitems'), ['controller' => 'Orderitems', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Orderitem'), ['controller' => 'Orderitems', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="ordersOrderitems form large-9 medium-8 columns content">
    <?= $this->Form->create($ordersOrderitem) ?>
    <fieldset>
        <legend><?= __('Edit Orders Orderitem') ?></legend>
        <?php
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
