<div class="row" id="error-page">

    <div class="box">

        

        <h1>Thank you!</h1>
        <h2>Your message has been sent</h2>

        <p class="buttons">
            <a href="/" class="btn btn-primary">
                <i class="fa fa-home"></i> Go to Homepage</a>
        </p>
    </div>

</div>

